{% extends 'base.html' %}

{% block content %}
    <h1>Welcome, {{ current_user.username }}</h1>
    <div class="chart" id="bargraph"></div>
    <div class="table">
        {{ graphs[2] | safe }}
    </div>
    <div class="chart" id="areagraph"></div>
    <div class="table">
        {{ graphs[3] | safe }}
    </div>
{% endblock %}

{% block script %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

<script>
    var graph1 = {{ graphs[0] | safe}};
    Plotly.plot('bargraph', graph1, {autosize: true, title: 'Blocked Reasons', orientation: 'h', yaxis: {automargin: true}});
    var graph2 = {{ graphs[1] | safe}};
    Plotly.newPlot('areagraph', graph2, {title: 'Visitors Blocked Ads'});

</script>
{% endblock %}